select {
  width: 215px;
}
.dropdown-menu {
  background-color: black;
  color: green;
  border: 0px;
}
footer {
  background-color: white;
  font-size: 12px;
  margin: 40px 10px 5px 10px;
  border-top: 1px solid #606060;
  color: #606060;
  text-align: left;
}
body {
  margin-top: 20px;
  font-size: 12px;
}
#msgHdr {
  padding-bottom: 5px;
}
#contact {
  font-size: 12px;
}
#contact input[type="text"] {
  font-size: 12px;
  height: 15px;
}
#contact label {
  font-size: 12px;
}
#user {
  font-size: 12px;
}
#user input[type="text"] {
  font-size: 12px;
  height: 15px;
}
#user label {
  font-size: 12px;
}
#company {
  font-size: 12px;
}
#company input[type="text"] {
  font-size: 12px;
  height: 15px;
}
#company label {
  font-size: 12px;
}
#toolbar button {
  width: 150px;
  line-height: 24px;
}
#toolbar a:hover {
  text-decoration: none;
}
#toolbar button > a:visited {
  color: black;
}
#toolbar .disabled {
  color: #c9c9c9;
}
#toolbar input[type="submit"] {
  width: 100px;
  line-height: 24px;
}
div #queryForm {
  font-size: 11px;
  float: left;
}
div #queryForm label,
input {
  font-size: 12px;
}
div #queryForm input[type='text'] {
  font-size: 12px;
  width: 120px;
  margin-right: 10px;
  height: 15px;
}
#queryFilterClear {
  margin-left: -8px;
}
#recHeader {
  margin-bottom: 5px;
}
tr:hover {
  background-color: #FEFCD1;
}
header img {
  width: 32px;
  height: 32px;
  margin-bottom: 5px;
}
#userinfo {
  margin-top: 5px;
}
#userinfo img {
  border-radius: 5px;
  width: 20px;
  height: 20px;
}
