<h3>Glyph</h3>

<div class="btn-group">
    <a class="btn" href="#"><i class="icon-align-left"></i></a>
    <a class="btn" href="#"><i class="icon-align-center"></i></a>
    <a class="btn" href="#"><i class="icon-align-right"></i></a>
    <a class="btn" href="#"><i class="icon-align-justify"></i></a>
</div>
<p>
    <a class="btn" href="#"><i class="icon-refresh"></i> Refresh</a>
    <a class="btn btn-success" href="#"><i class="icon-shopping-cart icon-white"></i> Checkout</a>
    <a class="btn btn-danger" href="#"><i class="icon-trash icon-white"></i> Delete</a>
</p>
<div class="btn-group">
    <a class="btn btn-primary" href="#"><i class="icon-user icon-white"></i> User</a>
    <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
    <ul class="dropdown-menu">
        <li><a href="#"><i class="icon-pencil"></i> Edit</a></li>
        <li><a href="#"><i class="icon-trash"></i> Delete</a></li>            
    </ul>
</div>
</div>
<p>
    <a class="btn" href="#"><i class="icon-refresh"></i> Refresh</a>
    <a class="btn btn-success" href="#"><i class="icon-shopping-cart icon-white"></i> Checkout</a>
    <a class="btn btn-danger" href="#"><i class="icon-trash icon-white"></i> Delete</a>
</p>
<p>
    <a class="btn btn-large" href="#"><i class="icon-comment"></i> Comment</a>
    <a class="btn btn-small" href="#"><i class="icon-cog"></i> Settings</a>
    <a class="btn btn-small btn-info" href="#"><i class="icon-info-sign icon-white"></i> More Info</a>
</p>